@import "../../scss/global";
/*
.settingsTitle {
  margin-bottom: $spacing-md;
  display: flex;
  justify-content: space-between;
  :global {
    .wfp--form-item {
      flex: inherit;
    }
  }
}

.subTitle {
  font-size: 1.3rem;
}
*/
