.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.drawui {
  position: relative;
  z-index: 1000;
  z-index: 100;
}

.draw {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.send {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 100;
}

.colorPicker {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 10000;
}
