.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1vw;
  grid-row-gap: 1vw;
  grid-row-end: span 3;
  height: 100%;
  button {
    width: 100%;
    height: 100%;
  }
}

.icon {
  height: 5rem !important;
  width: 5rem !important;
  margin-bottom: 1rem;
}

.other {
  button {
    background: var(--interactive-01);
    color: var(--text-02) !important;
    font-size: 2vw;
  }
  grid-column: span 2;
  //grid-area: last-line;
}
