.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 2vw;
  grid-row-gap: 2vw;
  height: 100%;
  button {
    width: 100%;
    height: 100%;
  }
}
