@import "src/scss/_global.scss";

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  color: #0000ff;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  @include breakpointMax(bp--sm--major) {
  }

  height: 100%;
}

.sidebarLink {
  text-decoration: none;
}

.iconWrapper {
  position: relative;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebarImage,
.sidebarImageDuo {
  margin: 0.3em 0.4em !important;
  display: block;
  width: 2.5em !important;
  height: auto !important;
  //position: absolute;
}
.sidebarImageDuo {
  color: var(--accent-01);
  opacity: 0.9;
  transform: translateX(0.1em) translateY(0em) rotate(-1deg) scale(0.95);
  //display: none !important;
  //--fa-primary-color: var(--interactive-01);
  //--fa-secondary-color: var(--accent-01);
}

.sidebarImage {
  color: var(--interactive-01);
  opacity: 0.9;
}

.listItem {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5em;
  padding: 1.5em;
  width: calc(100% - 1em);
  @include breakpoint(bp--sm--major) {
    width: calc(50% - 1em);
  }
  @include breakpoint(bp--md--major) {
    width: calc(25% - 1em);
  }
  &:hover {
    background: var(--ui-02);
  }
  > svg {
    font-size: 5rem;
    margin: auto;
    margin-bottom: 1.5rem;
  }
  h3 {
    color: var(--text-01);
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  small {
    opacity: 0.7;
    color: var(--text-01);
  }
}
