@import "src/scss/_global.scss";

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.title {
  color: #0000ff;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  @include breakpointMax(bp--sm--major) {
  }

  height: 100%;
}

.sidebarLink {
  text-decoration: none;
}

.sidebarImage {
  color: var(--interactive-01);
  margin: 0.3em 0.6em !important;
  display: block;
  width: 3.6em !important;
  height: auto !important;
}

.listItem {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0.5em;
  padding: 1.5em;
  width: calc(100% - 1em);
  @include breakpoint(bp--sm--major) {
    width: calc(50% - 1em);
  }
  @include breakpoint(bp--md--major) {
    width: calc(25% - 1em);
  }
  &:hover {
    background: var(--ui-02);
  }
  > svg {
    font-size: 5rem;
    margin: auto;
    margin-bottom: 1.5rem;
  }
  h3 {
    color: var(--text-01);
    font-size: 1em;
    margin-bottom: 0.5em;
  }
  small {
    opacity: 0.7;
    color: var(--text-01);
  }
}
