@import "src/scss/_global.scss";

.aaa {
  background: green;
}
.page {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  //background-color: var(--ui-01);
}

.secondary {
  @extend .page;
  color: var(--text-01);
  background: var(--ui-02);
}

.scroll {
  overflow: auto;
}
