$css--variables: false !default;
$video-react-text-font-family: "geometric";

@import "~@wfp/ui/src/globals/scss/colors";
@import "~@wfp/ui/src/globals/scss/vars";
@import "~@wfp/ui/src/globals/scss/layout";
@import "~@wfp/ui/src/globals/scss/_typography";

/*$css--reset: false;
$css--body: true;
$css--variables: false;*/
